---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=sign+up+charge+for+myflix&source=tok_1BMkhOACRY9yqAzKdZbIBKDq&email=Joe%40test.com&plan=base
    headers:
      Authorization:
      - Bearer sk_test_mOcn0ESCsNyhdadkVcd8vFoU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-08-15'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_BkFBY06y2esT1I",
          "object": "customer",
          "account_balance": 0,
          "created": 1510351806,
          "currency": "usd",
          "default_source": "card_1BMkhOACRY9yqAzK9fPX0cVa",
          "delinquent": false,
          "description": "sign up charge for myflix",
          "discount": null,
          "email": "Joe@test.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1BMkhOACRY9yqAzK9fPX0cVa",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": "12345",
                "address_zip_check": "pass",
                "brand": "Visa",
                "country": "US",
                "customer": "cus_BkFBY06y2esT1I",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 1,
                "exp_year": 2019,
                "fingerprint": "q2TyZusZTFXy5XkY",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_BkFBY06y2esT1I/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_BkFBAIkIG23ah7",
                "object": "subscription",
                "application_fee_percent": null,
                "billing": "charge_automatically",
                "cancel_at_period_end": false,
                "canceled_at": null,
                "created": 1510351806,
                "current_period_end": 1512943806,
                "current_period_start": 1510351806,
                "customer": "cus_BkFBY06y2esT1I",
                "discount": null,
                "ended_at": null,
                "items": {
                  "object": "list",
                  "data": [
                    {
                      "id": "si_BkFBlkUv2HIKzB",
                      "object": "subscription_item",
                      "created": 1510351807,
                      "metadata": {},
                      "plan": {
                        "id": "base",
                        "object": "plan",
                        "amount": 999,
                        "created": 1510339126,
                        "currency": "usd",
                        "interval": "month",
                        "interval_count": 1,
                        "livemode": false,
                        "metadata": {},
                        "name": "myflix base",
                        "statement_descriptor": null,
                        "trial_period_days": null
                      },
                      "quantity": 1
                    }
                  ],
                  "has_more": false,
                  "total_count": 1,
                  "url": "/v1/subscription_items?subscription=sub_BkFBAIkIG23ah7"
                },
                "livemode": false,
                "metadata": {},
                "plan": {
                  "id": "base",
                  "object": "plan",
                  "amount": 999,
                  "created": 1510339126,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "myflix base",
                  "statement_descriptor": null,
                  "trial_period_days": null
                },
                "quantity": 1,
                "start": 1510351806,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_BkFBY06y2esT1I/subscriptions"
          }
        }
  recorded_at: Fri, 10 Nov 2017 22:10:33 GMT
recorded_with: VCR 3.0.1
