---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=999&description=sign+up+charge+for+Joe+Smith&source=tok_1BKcCOACRY9yqAzKZ1RAgxAV&currency=usd
    headers:
      Authorization:
      - Bearer sk_test_mOcn0ESCsNyhdadkVcd8vFoU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-08-15'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "decline_code": "generic_decline",
            "charge": "ch_1BKcCOACRY9yqAzKpCrlhsY8"
          }
        }
  recorded_at: Sun, 05 Nov 2017 00:41:17 GMT
recorded_with: VCR 3.0.0
