---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=sign+up+charge+for+myflix&source=tok_1BMknkACRY9yqAzKYi1iuakv&email=Joe%40test.com&plan=base
    headers:
      Authorization:
      - Bearer sk_test_mOcn0ESCsNyhdadkVcd8vFoU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-08-15'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card has expired.",
            "type": "card_error",
            "param": "exp_month",
            "code": "expired_card"
          }
        }
  recorded_at: Fri, 10 Nov 2017 22:17:07 GMT
recorded_with: VCR 3.0.1
