---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_1BN0r3ACRY9yqAzK4VaA68Bg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_mOcn0ESCsNyhdadkVcd8vFoU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-08-15'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_1BN0r3ACRY9yqAzK4VaA68Bg",
          "object": "event",
          "api_version": "2017-08-15",
          "created": 1510413909,
          "data": {
            "object": {
              "id": "ch_1BN0r2ACRY9yqAzKWfDLjl49",
              "object": "charge",
              "amount": 999,
              "amount_refunded": 0,
              "application": null,
              "application_fee": null,
              "balance_transaction": "txn_1BN0r2ACRY9yqAzKrUzrDTGT",
              "captured": true,
              "created": 1510413908,
              "currency": "usd",
              "customer": "cus_BkVs0IRprV5gMh",
              "description": null,
              "destination": null,
              "dispute": null,
              "failure_code": null,
              "failure_message": null,
              "fraud_details": {},
              "invoice": "in_1BN0r2ACRY9yqAzK7pKdZa6Y",
              "livemode": false,
              "metadata": {},
              "on_behalf_of": null,
              "order": null,
              "outcome": {
                "network_status": "approved_by_network",
                "reason": null,
                "risk_level": "normal",
                "seller_message": "Payment complete.",
                "type": "authorized"
              },
              "paid": true,
              "receipt_email": null,
              "receipt_number": null,
              "refunded": false,
              "refunds": {
                "object": "list",
                "data": [],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/charges/ch_1BN0r2ACRY9yqAzKWfDLjl49/refunds"
              },
              "review": null,
              "shipping": null,
              "source": {
                "id": "card_1BN0r1ACRY9yqAzKmYIfzjUR",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": "42424",
                "address_zip_check": "pass",
                "brand": "Visa",
                "country": "US",
                "customer": "cus_BkVs0IRprV5gMh",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 4,
                "exp_year": 2024,
                "fingerprint": "q2TyZusZTFXy5XkY",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              },
              "source_transfer": null,
              "statement_descriptor": null,
              "status": "succeeded",
              "transfer_group": null
            }
          },
          "livemode": false,
          "pending_webhooks": 0,
          "request": {
            "id": "req_NWibsb0n1zHzmU",
            "idempotency_key": null
          },
          "type": "charge.succeeded"
        }
  recorded_at: Sat, 11 Nov 2017 16:04:04 GMT
recorded_with: VCR 3.0.1
