---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=10&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_mOcn0ESCsNyhdadkVcd8vFoU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-08-15'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1BMhQ3ACRY9yqAzKNF1i5T7a",
          "object": "token",
          "card": {
            "id": "card_1BMhQ3ACRY9yqAzKl22vYlJe",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 10,
            "exp_year": 2018,
            "fingerprint": "q2TyZusZTFXy5XkY",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "172.56.40.181",
          "created": 1510339199,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Fri, 10 Nov 2017 18:39:59 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=new+customer&source=tok_1BMhQ3ACRY9yqAzKNF1i5T7a&email=vena.mcclure%40abbott.net&plan=base
    headers:
      Authorization:
      - Bearer sk_test_mOcn0ESCsNyhdadkVcd8vFoU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-08-15'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_BkBnjFK85XjxHt",
          "object": "customer",
          "account_balance": 0,
          "created": 1510339200,
          "currency": "usd",
          "default_source": "card_1BMhQ3ACRY9yqAzKl22vYlJe",
          "delinquent": false,
          "description": "new customer",
          "discount": null,
          "email": "vena.mcclure@abbott.net",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1BMhQ3ACRY9yqAzKl22vYlJe",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_BkBnjFK85XjxHt",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 10,
                "exp_year": 2018,
                "fingerprint": "q2TyZusZTFXy5XkY",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_BkBnjFK85XjxHt/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_BkBnS3dzALHV3v",
                "object": "subscription",
                "application_fee_percent": null,
                "billing": "charge_automatically",
                "cancel_at_period_end": false,
                "canceled_at": null,
                "created": 1510339200,
                "current_period_end": 1512931200,
                "current_period_start": 1510339200,
                "customer": "cus_BkBnjFK85XjxHt",
                "discount": null,
                "ended_at": null,
                "items": {
                  "object": "list",
                  "data": [
                    {
                      "id": "si_1BMhQ4ACRY9yqAzKp38xuvpd",
                      "object": "subscription_item",
                      "created": 1510339201,
                      "metadata": {},
                      "plan": {
                        "id": "base",
                        "object": "plan",
                        "amount": 999,
                        "created": 1510339126,
                        "currency": "usd",
                        "interval": "month",
                        "interval_count": 1,
                        "livemode": false,
                        "metadata": {},
                        "name": "myflix base",
                        "statement_descriptor": null,
                        "trial_period_days": null
                      },
                      "quantity": 1
                    }
                  ],
                  "has_more": false,
                  "total_count": 1,
                  "url": "/v1/subscription_items?subscription=sub_BkBnS3dzALHV3v"
                },
                "livemode": false,
                "metadata": {},
                "plan": {
                  "id": "base",
                  "object": "plan",
                  "amount": 999,
                  "created": 1510339126,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "myflix base",
                  "statement_descriptor": null,
                  "trial_period_days": null
                },
                "quantity": 1,
                "start": 1510339200,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_BkBnjFK85XjxHt/subscriptions"
          }
        }
  recorded_at: Fri, 10 Nov 2017 18:40:01 GMT
recorded_with: VCR 3.0.1
