!!! 5
%html(lang="en-US")
  %body
    %p #{@invitation.inviter.full_name} has invited you to join MyFlix!
    %p= @invitation.message
    = link_to "Accept this invitation", register_with_invitation_url(@invitation.token)