---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4000000000000002&card[exp_month]=10&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_mOcn0ESCsNyhdadkVcd8vFoU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-08-15'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1BMhPwACRY9yqAzKsa0Eni1e",
          "object": "token",
          "card": {
            "id": "card_1BMhPvACRY9yqAzKJvID8mzo",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 10,
            "exp_year": 2018,
            "fingerprint": "sVQMTxD0e4bPMG1o",
            "funding": "credit",
            "last4": "0002",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "172.56.40.181",
          "created": 1510339192,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Fri, 10 Nov 2017 18:39:52 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=999&source=tok_1BMhPwACRY9yqAzKsa0Eni1e&currency=usd
    headers:
      Authorization:
      - Bearer sk_test_mOcn0ESCsNyhdadkVcd8vFoU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-08-15'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "decline_code": "generic_decline",
            "charge": "ch_1BMhPwACRY9yqAzKbmcLRJ25"
          }
        }
  recorded_at: Fri, 10 Nov 2017 18:39:53 GMT
recorded_with: VCR 3.0.1
